<div class=" w3-center w3-animate-opacity w3-light-green w3-padding-small">
    <h1 class="w3-opacity"><b>{$content}</b></h1> <br>
</div>

<article class="w3-mobile w3-white w3-display-middle w3-card-4 w3-center w3-panel w3-padding-large w3-cursive w3-xlarge" style = "width:40%;">
    {$info}
</article>

<div class="w3-row-padding w3-theme">

    <style>
        body {
            background-color: beige;
        }
    </style>